@charset "UTF-8";

/*
 *:::::::::::::::::::::::::
 *배민주아체
 *:::::::::::::::::::::::::
 */
@font-face {
	font-family: 'BMJUA';
	font-style: normal;
	font-weight: 400;
	src: url('../font/BMJUA.woff2') format('woff2'),
		url('../font/BMJUA.woff') format('woff'),
		url('../font/BMJUA_ttf.ttf') format('truetype');
}
